{% extends "base.html" %}

{% block content %}
    <h1>Authors</h1>
    <section>
        <!-- Удален второй заголовок <h2>Authors</h2> -->
        <table>
            <thead>
                <tr>
                    <th>Full Name</th>
                    <!-- <th>Born Date</th> -->
                    <!-- <th>Born Location</th> -->
                    <!-- <th>Description</th> -->
                    <!-- <th>Actions</th> -->
                </tr>
            </thead>
            <tbody>
                {% for author in authors %}
                <tr>
                    <td>{{ author.fullname }}</td>
                    <!-- <td>{{ author.born_date }}</td> -->
                    <!-- <td>{{ author.born_location }}</td> -->
                    <!-- <td>{{ author.description }}</td> -->
                    <td>
                        <a href="{% url 'quotes_app:author_detail' author.id %}" role="button" class="secondary">View</a>
                        <a href="{% url 'quotes_app:author_update' author.id %}" role="button" class="secondary">Edit</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No authors available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Ссылка на форму добавления автора -->
        <p>
            <a href="{% url 'quotes_app:add_author' %}" role="button" class="secondary">Add New Author</a>
        </p>
    </section>
{% endblock %}
