<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Note information</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<main class="container">
    <nav>
        <a href="{% url 'quotes_app:index' %}">Home</a>
<!--        <a href="{% url 'quotes_app:authors' %}">Authors</a>-->
<!--        <a href="{% url 'quotes_app:quotes' %}">Quotes</a>-->
        {% if user.is_authenticated %}
            <a href="{% url 'quotes_app:logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'quotes_app:login' %}">Login</a>
            <a href="{% url 'quotes_app:register' %}">Register</a>
        {% endif %}
    </nav>
    {% block content %} {% endblock %}
</main>
</body>
</html>
